.container{
    min-height: calc(100vh - 60px);
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 98%;
    margin: 52px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.title{
    text-align: center;
    color: var(--textColor);
    margin-top: 1.5rem;
    font-size: 28px;
}


@media screen and (max-width: 992px){
    .wrapper{
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 576px){
    .wrapper{
        width: 100%;
        justify-content: center;
    }
}