.container{
    width: 360px;
    height: 560px;
    box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.15);
    transition: 150ms;
    border-radius: 12px;
    overflow: hidden;
}

.container:hover{
    box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.4);
}

.wrapper{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.wrapper > .imgContainer > img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}

.blogData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogData > .left > h3{
    color: var(--textColor);
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 12px;
}

.blogData > .left > p{
    font-size: 14px;
    color: var(--softTextColor);
}

.blogData > .left > span{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
}

.blogData > .left > span > span{
    color: var(--softTextColor);
}

.blogData > .right{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.like{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
    color: var(--textColor);
}

.like > span{
    display: flex;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .container{
        width: 340px;
    }
    .wrapper{
        padding: 14px;
    }
}

@media screen and (max-width: 576px){
    .wrapper{
        padding: 14px;
    }
}